.portfolio__arrow {
  display: flex;
  flex-direction: row;
  background-image: url(../../../../images/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 29px;
  height: 60px;
  transition: transform .2s ease-in-out, filter .2s ease-in-out;
  align-self: center;
}

.portfolio__arrow:hover {
  transform: scale(1.4);
  filter: drop-shadow(0px 0px 3px rgb(237, 245, 239));
}