.menu-btn{
  display: none;
  position: fixed;
  top: 43px;
  right:30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}
.span{
  position: fixed;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 44px;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
 
.menubox{
  display: block;
  position: fixed;
  visibility: hidden;
  flex-direction: row;
  top: 0;
  /* right: 0; */
  right: -100%;
  z-index: 2;
  width: 520px;
  height: 100%;
  margin: 0;
  padding: 100px 0;
  list-style: none;
  background: #FFFFFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  text-align: center;

  color: #000000;
}
 
.menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu-item:hover {
  background-color: #CFD8DC;
}
 
 
#menu-toggle{
  opacity: 0;
}
 
#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  right: 0;
}

.menubox__title{
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.menubox__wrapper{
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menubox__film{
  display: flex;
  align-self: center;
  margin-top: 28px;

}
.menubox__film-save{
  display: flex;
  align-self: center;
  margin-top: 22px;
  text-decoration: none;
}
.menubox__profile{
  display: flex;
  align-self: center;
  margin-top: 340px;
}

@media (max-width:768px) {
  .menu-btn {
    display: flex;
  }
}
@media (min-width:769px) {
  .menu-btn {
    display: none;
  }
}
@media (min-width:769px) {
  .menubox {
    display: none;
  }
}
@media (max-width:600px) {
  .menubox {
    max-width: 320px;
  }
}


