.footer__container {
  height: 172px;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .footer__container {
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .footer__container {
    margin: 0 10px;
  }
}