.banner{
    display: flex;
    flex-direction: column;
    padding: 75px 70px;
    background-color:#F3C1F8;
    position: relative;
}
.banner__title{
    margin: 0;
    max-width: 640px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    color: #000000;
}
.banner__paragraph{
    margin-top: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.banner__learn-more{
    margin-top: 146px;
    display: flex;
    text-align: center;
    box-sizing: border-box;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    padding: 10px 20px ;
    opacity: 0.6;
    border: 1px solid #000000;
    border-radius: 3px;
    width: 132px;
    height: 34px;
    text-decoration:none;
}
.banner__logo-main{
    width: 310px;
    height: 304px;
    position: absolute;
    top:75px;
    right: 70px;
}

@media (max-width:768px) {
    .banner{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 44px 70px;
      /* padding-left: 44px;
      padding-right: 44px; */
      /* margin: auto; */
      /* flex-flow: wrap; */
    }
  }

  /* @media (max-width:768px) {
    .banner__title{
        font-size: 40px;
        line-height: 50px;
        order: 2;
        margin-top: 30px;
        width: 680px;
        text-align: center;
    }
  } */
  @media (max-width:768px) {
    .banner__paragraph{
        font-size: 13px;
        line-height: 16px;
        order: 3;
        margin-top: 30px;
        max-width: 260px;
    }
  }
  @media (max-width:768px) {
    .banner__logo-main{
      position: static;
      order: 1;
      /* align-self: center; */
    }
  }
  @media (max-width:768px) {
    .banner__learn-more{
      order: 4;
    }
  }

 

@media (max-width:768px) {
  .banner__title{
    order: 2;
    max-width: 300px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
  }
}

@media (max-width:495px) {
  .banner__logo-main{
    width: 210px;
    height: 206px;
  }
}


@media (max-width:320px) {
  .banner__paragraph{
    width: 260px;
  }
}