.movies-card-list{

}
.movie-card-list__catalog{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}
.movies-card-list__more{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding-top: 11px;
    text-align: center;
    color: #000000;
    align-self: center;
    align-content: center;
    margin: 70px auto;
    background: #F9F9F9;
    border-radius: 6px;
    width: 320px;
    height: 36px;
    border:none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.movie-card-list__result{
    align-self: center;
}
@media (max-width:1350px) {
    .movie-card-list__catalog{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width:339px) {
    .movies-card-list__more{
        width: 300px;
    }
}